<%= render 'admin/shared/show' do %>
  <h2>Famille <%= instance.name %></h2>

  <% if instance.members.empty? %>

    <p>
      Cette famille n'a aucun membre !
    </p>

  <% else %>

    <hr>
    <h4>Membres de cette famille</h4>
    <ol>
      <% instance.members.each do |member| %>
        <li>
          <%= link_to(member, members_admin_path(member)) %>
        </li>
      <% end %>
    </ol>
  <% end %>

  <p>
    <%= link_to(
          'Ajouter un membre',
          new_members_admin_path(family_id: instance.id),
          class: 'btn btn-primary'
        ) %>
  </p>

  <hr>

  <% if instance.memberships.empty? %>

    <p>
      Cette famille n'est inscrite à aucune saison !
    </p>

  <% else %>

    <hr>
    <h4>Adhésions de cette famille</h4>
    <ol>
      <% instance.memberships.each do |membership| %>
        <li>
          <%= link_to(membership.season, memberships_admin_path(membership)) %>

          <span style="float:right">
          <%= link_to(
                "Enregistrer un paiement",
                new_payments_admin_path(membership_id: membership.id),
                class: 'btn btn-default btn-sm'
              ) %>
          </span>

          <ul>
            <% membership.payments.order(assigned_on: :desc).each do |payment| %>
              <li>
                <span style="font-weight: bold;font-family: monospace">
                <%= sanitize (number_to_currency payment.amount).rjust(8, "^").gsub('^', '&nbsp;') %>
                </span>
                en <%=
                link_to(
                  l(payment.assigned_on, format: '%B %Y'),
                  payments_admin_path(payment),
                )
              %>
              </li>
            <% end %>
          </ul>
        </li>

      <% end %>
    </ol>
  <% end %>


  <% if Rails.env.development? %>
    <p>
      <%= link_to(
            'Adhérer à une saison (alt)',
            join_season_families_admin_path(instance.id),
            class: 'btn btn-deault'
          ) %>
    </p>
  <% end %>

  <p>
    <%= link_to(
          'Adhérer à une saison',
          new_memberships_admin_path(family_id: instance.id),
          class: 'btn btn-primary'
        ) %>
  </p>

<% end %>
